body {
  background-color: green;
}

/* DEPARTMENT STYLES */
.department{
margin: 20px 0;
}

.department-image{
  width: 100%;
  height: 400px;
}

.grey-out {
  opacity: 0.4;
}

.department-title{
  color: white;
  position: absolute;
  top: 200px;
  font-size: 50px;
  left: 40px;
}